ansible==1.8.2
awscli==1.8.9
bigsuds==1.0.1
boto==2.38.0
botocore==1.2.7
colorama==0.3.3
configobj==5.0.6
docutils==0.12
ecdsa==0.13
eventlet==0.17.4
greenlet==0.4.7
Jinja2==2.8
jmespath==0.9.0
lockfile==0.10.2
MarkupSafe==0.23
netaddr==0.7.15
paramiko==1.15.2
pexpect==3.3
py==1.4.30
pyasn1==0.1.9
pycrypto==2.6.1
pytest==2.7.2
python-dateutil==2.4.2
PyYAML==3.11
requests==2.7.0
rsa==3.2
six==1.9.0
suds==0.4
wheel==0.24.0
